API_ID = 24817837  # Get it by creating an app on https://my.telegram.org
API_HASH = "acd9f0cc6beb08ce59383cf250052686" # Get it by creating an app on https://my.telegram.org
BOT_TOKEN = "7832116098:AAGZrWnCarPJhDRm6jL1wRfnBmpc4eWiwCE" # Get it by creating a bot on https://t.me/BotFather
SUDO_USERS = "7428552084" # List of sudo user's id, separated by space.
DOWNLOAD_DIR = "/usr/src/app/downloads/" # Download directory where to download files. Must ends with forward slash > / <
